.input {
  background: #e4f1fe;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 10px;
  width: 100%;
  color: #002c3e;
  font-size: 14px;
}

.input::placeholder {
  caret-color: #002c3e;
}
.input:hover {
  filter: brightness(105%);
}
.error {
  background: rgba(241, 130, 141, 0.3) !important;
}
.helperText {
  color: #f1828d;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  padding-left: 10px;
  padding-top: 3px;
}
